<div>
  <div class="link" (click)="togglePlayer()">
    <span>{{link.linkText}}</span>
  </div>
  <div class="music-wrapper" *ngIf="showList">
    <div class="player">
      <div class="thumbnail">
        <img src="{{link.musicLinkSetting?.player?.thumbnail}}">
      </div>
      <div class="player-details">
        <div><img src="assets/icons/play.svg"></div>
        <div>{{link.musicLinkSetting?.player?.songName}} {{link.musicLinkSetting?.player?.artist}}</div>
      </div>
      <!-- TODO Adding component to run player -->
    </div>
    <ul class="music-lists">
      <li *ngFor="let list of link.musicLinkSetting?.mediaServiceProvider" class="music-list">
        <div class="music-details">
          <!-- TODO Adding Separate component to allow to add svg so that we can fill the color -->
          <em><img src="{{list.mediaIcon}}" alt="{{list.mediaServiceName}}"></em>
          <div class="service-name"><span>{{list.mediaServiceName}}</span></div>
        </div>
        <div class="arrow"><img src="assets/icons/arrow.svg"></div>
      </li>
    </ul>
  </div>
</div>


