
:host {
  display: flex;
  justify-content: center;
  width: 100%;
  > div{
    width: 28rem;
  }
}

div.link {
  display: flex;
  height: 48px;
  width: 100%;
  max-width: 28rem;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background: #39E09B;
  color: #161616;
  margin: 10px 0;

  &:hover{
    background: #161616 ;
    color: #39E09B;
  }
}
.player{
  display: inline-flex;
  height: 5rem;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-bottom: 1px solid #eee;
}

.player-details{
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: space-evenly;
  width: calc(100% - 6rem);
}

.music-wrapper {
  display: inline-flex;
  width: 100%;
  flex-direction: column;
}

.music-lists{
  padding: 0;
  margin: 0;
}

.music-list {
  list-style: none;
  height: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 1rem;
  color: #263238;
}
.music-details {
  display: flex;
  flex-direction: row;
}

.service-name {
  color: #263238;
  font-size: 16px;
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

.icon{
  background :red;
  mask: url('../../../assets/icons/arrow.svg') no-repeat center;
}

.arrow{
  transform: rotate(-90deg);
}
