
.content {
  margin:auto;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10rem;
}




