
<app-profile  *ngIf="fakeDataProvider?.profile" [profile]="fakeDataProvider.profile"></app-profile>
<!-- TODO Pass profile.profileSetting to below component to allow the use to update color of button and hover of the button  -->
<div class="content" role="main" >
  <ng-container *ngFor="let list of  fakeDataProvider?.linkList">
    <app-classic-link *ngIf="list.linkType === 'classic'" [link]="list" [profileSetting]="fakeDataProvider.profile.profileSetting"></app-classic-link>
    <!-- TODO Pass profile.profileSetting to below component to allow the use to update color of button and hover of the button  -->
    <app-music-link *ngIf="list.linkType === 'music'" [link]="list" (showMusic)="closeOther($event)"></app-music-link>
    <app-show-link *ngIf="list.linkType === 'show'" [link]="list" (showShows)="closeOther($event)"></app-show-link>
  </ng-container>
  <!-- Footer -->
  <footer>
    <a href="/"><img src="../assets/logo.svg"></a>
  </footer>
</div>

<router-outlet></router-outlet>
