
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 68px;
  width: 100%;
}

a.link {
  display: flex;
  height: 48px;
  width: 100%;
  max-width: 28rem;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background: #39E09B;
  color: #161616;

  &:hover{
    background: #161616 ;
    color: #39E09B;
  }
}
