<a href="{{link.linkUrl}}" target="_blank" class="link" (mouseover)="changeBackgroundColor(true)"
   (mouseout)="changeBackgroundColor(false)" style="background: {{backgroundColor}}">
  <span style="color: {{fontColor}}">{{link.linkText}}</span>
</a>
