/* You can add global styles to this file, and also import other style files */
@import "scss/main";

body {
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  color: #333;
  margin: 0;
  word-break: break-word;
}

a {
  text-decoration: none;
}
