<div>
  <div (click)="toggleVenue()" class="link">
    <span>{{link.linkText}}</span>
  </div>

  <div class="show-wrapper">
    <ul class="venue-lists" *ngIf="showVenue">
      <li *ngFor="let venue of link.showLinkList?.venueProvider" class="venue-list">
        <div class="venue-details">
          <div class="show-time"><span>{{venue.venueTime}}</span></div>
          <div><span>{{venue.venueProviderName}}</span></div>
        </div>
        <div *ngIf="!venue.venueSoldOut" class="arrow"><img src="assets/icons/arrow.svg"></div>
        <div *ngIf="venue.venueSoldOut" class="sold-out"><span>Sold Out</span></div>
      </li>
    </ul>
    <div class="sponsered-by" *ngIf="showVenue">
      <img src="assets/icons/by-songkick-wordmark.svg"/>
    </div>
  </div>
</div>
