
:host {
  display: flex;
  justify-content: center;
  width: 100%;

  > div {
    width: 28rem;
  }
}

div.link {
  display: flex;
  height: 48px;
  width: 100%;
  max-width: 28rem;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background: #39E09B;
  color: #161616;

  &:hover {
    background: #161616;
    color: #39E09B;
  }
}

.show-wrapper {
  display: inline-flex;
  width: 100%;
  flex-direction: column;
}

.venue-lists {
  padding: 0;
  margin: 0;
}

.venue-list {
  list-style: none;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding: 1rem;
}

.venue-details {
  display: flex;
  flex-direction: column;
}

.show-time {
  font-size: 16px;
  padding: 5px 0;
}

.arrow {
  transform: rotate(-90deg);
}

.sponsered-by {
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: center;
}

.sold-out {
  display: flex;
  align-items: center;
}
